.menu-item {
    display: flex;
    align-items: center;
    color: black;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 10px;
    border-radius: 4px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.title {
    margin-left: 10px;
}
